# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/out
package-lock.json
/neardev
# testing
/coverage
tmp-project
#parcel
.cache

# production
/build
/common/contracts/rust/target
/common/contracts/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
/templates/**/yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*
