common/contracts/rust/target
common/contracts/out
templates/*/.cache
templates/*/assembly
templates/*/contract
templates/*/package.json
templates/*/src/assets
templates/*/src/config.js
templates/*/src/global.css
templates/*/src/utils.js
