common/contracts/rust/target
templates/*/.cache
templates/*/assembly
templates/*/contract
templates/*/package.json
templates/*/src/assets
templates/*/src/config.js
templates/*/src/global.css
templates/*/src/utils.js
