common/contracts/rust/target/debug/
common/contracts/rust/target/release/
common/contracts/rust/target/rls/
common/contracts/rust/target/wasm32-unknown-unknown/
templates/*/.cache
templates/*/assembly
templates/*/contract
templates/*/package.json
templates/*/src/assets
templates/*/src/config.js
templates/*/src/global.css
templates/*/src/utils.js
