<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./assets/favicon.ico" />
  <link rel="apple-touch-icon" href="./assets/favicon.ico" />
  <title>Welcome to NEAR</title>
  <link rel="stylesheet" href="global.css">
</head>
<body>
  <main id="signed-out-flow" style="display: none">
    <h1>Welcome to NEAR!</h1>
    <p>
      To make use of the NEAR blockchain, you need to sign in. The button
      below will sign you in using NEAR Wallet.
    </p>
    <p>
      By default, when your app runs in "development" mode, it connects
      to a test network ("testnet") wallet. This works just like the main
      network ("mainnet") wallet, but the NEAR Tokens on testnet aren't
      convertible to other currencies – they're just for testing!
    </p>
    <p>
      Go ahead and click the button below to try it out:
    </p>
    <p style="text-align: center; margin-top: 2.5em">
      <button id="sign-in-button">Sign in</button>
    </p>
  </main>

  <div id="signed-in-flow" style="display: none">
    <button class="link" style="float: right" id="sign-out-button">
      Sign out
    </button>
    <main>
      <h1>
        <label
          for="greeting"
          data-behavior="greeting"
          style="color: var(--secondary); border-bottom: 2px solid var(--secondary);"
        >
        </label>
        <span data-behavior="account-id"></span>!
      </h1>
      <form>
        <fieldset id="fieldset">
          <label
            for="greeting"
            style="display: block; color: var(--gray); margin-bottom: 0.5em"
          >
            Change greeting
          </label>
          <div style="display: flex">
            <input
              style="flex: 1"
              autocomplete="off"
              id="greeting"
              data-behavior="greeting"
            />
            <button disabled style="border-radius: 0 5px 5px 0">Save</button>
          </div>
        </fieldset>
      </form>
      <p>
        Look at that! A Hello World app! This greeting is stored on the NEAR blockchain. Check it out:
      </p>
      <ol>
        <li>
          Look in <code>src/main.js</code> and <code>src/utils.js</code> – you'll see <code>getGreeting</code>
          and <code>setGreeting</code> being called on <code>contract</code>.
          What's this?
        </li>
        <li>
          Ultimately, this <code>contract</code> code is defined in
          <code>assembly/main.ts</code> – this is the source code for your
          <a target="_blank" href="https://docs.near.org/docs/roles/developer/contracts/intro">smart contract</a>.
        </li>
        <li>
          When you run <code>yarn dev</code>, the code in
          <code>assembly/main.ts</code> gets deployed to the NEAR testnet. You
          can see how this happens by looking in <code>package.json</code> at the
          <code>scripts</code> section to find the <code>dev</code> command.
        </li>
      </ol>
      <hr>
      <p>
        To keep learning, check out
        <a target="_blank" href="https://docs.near.org">the NEAR docs</a>
        or look through some
        <a target="_blank" href="https://examples.near.org">example apps</a>.
      </p>
    </main>
  </div>

  <aside data-behavior="notification" style="display: none">
    <a target="_blank" href="https://explorer.testnet.near.org/accounts/"></a>
    called method: 'setGreeting' in contract:
    <a target="_blank" href="https://explorer.testnet.near.org/accounts/"></a>
    <footer>
      <div>✔ Succeeded</div>
      <div>Just now</div>
    </footer>
  </aside>

  <script src="./index.js"></script>
</body>
</html>
