@import "bootstrap";

body, html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success, .btn-primary {
  .text-muted {
    color: #fff !important;
  };
}

button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 2px outset #333;
  background-color: #f5f5f5;
  cursor: pointer;
  color: #333;
    
  &:active {
    border-style: inset; /* Button appears pressed */
    background-color: #d5d5d5; /* Even darker background */
    color: #000; /* Black text */
  }
  
  &:hover {
    background-color: #e5e5e5; /* Slightly darker background */
  color: #111; /* Slightly darker text */
    // background-color: #306B9A;
  }
}

.classic {
  border: 2px outset #333;
  background-color: #f5f5f5;
  color: #333;
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &> div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  &> div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}
