<ng-container [ngSwitch]="signedIn">
  <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="signedInTemplate"></ng-container>
  <ng-container *ngSwitchDefault [ngTemplateOutlet]="signedOutTemplate"></ng-container>
</ng-container>

<ng-template #signedInTemplate>
  <button [ngStyle]="{ float: 'right' }" (click)="logout()">Sign out</button>
  <main>
    <h1>
      <label [ngStyle]="{
        color: 'var(--secondary)',
        borderBottom: '2px solid var(--secondary)'
      }" [innerHTML]="greeting"></label>
      {{ accountId }}
    </h1>
    <form (ngSubmit)="onSubmit($event)">
      <fieldset id="fieldset">
        <label for="greeting" [ngStyle]="{
          display: 'block',
          color: 'var(--gray)',
          marginBottom: '0.5em'
        }">Change greeting</label>
        <div [ngStyle]="{ display: 'flex' }">
          <input
            [ngStyle]="{ flexGrow: 1 }"
            type="text"
            id="greeting"
            name="greeting"
            autoComplete="off"
            [(ngModel)]="newGreeting"
            [defaultValue]="greeting"
            required
          />
          <button [ngStyle]="{ borderRadius: '0 5px 5px 0' }" type="submit" [disabled]="buttonDisabled">Save</button>
        </div>
      </fieldset>
    </form>
    <p>
      Look at that! A Hello World app! This greeting is stored on the NEAR blockchain. Check it out:
    </p>
    <ol>
      <li>
        Look in <code>src/app/app.component.ts</code> and <code>src/utils.js</code>
        - you'll see <code>getGreeting</code>
        and <code>setGreeting</code> being called on <code>contract</code>. What's this?
      </li>
      <li>
        Ultimately, this <code>contract</code> code is defined in <code>assembly/main.ts</code>
        - this is the source code for your
        <a target="_blank" rel="noreferrer" href="https://docs.near.org/docs/develop/contracts/overview">smart contract</a>.
      </li>
      <li>
        When you run <code>yarn dev</code>, the code in <code>assembly/main.ts</code>
        gets deployed to the NEAR testnet. You can see how this happens by looking in <code>package.json</code>
        at the <code>scripts</code> section to find the <code>dev</code> command.
      </li>
    </ol>
    <hr />
    <p>
      To keep learning, check out <a target="_blank" rel="noreferrer" href="https://docs.near.org">the NEAR docs</a> or look through some
      <a target="_blank" rel="noreferrer" href="https://examples.near.org">example apps</a>.
    </p>
  </main>
  <app-notification [accountId]="accountId" [contractId]="contractId" *ngIf="showNotification"></app-notification>
</ng-template>

<ng-template #signedOutTemplate>
  <main>
    <h1>Welcome to NEAR!</h1>
    <p>
      To make use of the NEAR blockchain, you need to sign in. The button
      below will sign you in using NEAR Wallet.
    </p>
    <p>
      By default, when your app runs in "development" mode, it connects
      to a test network ("testnet") wallet. This works just like the main
      network ("mainnet") wallet, but the NEAR Tokens on testnet aren't
      convertible to other currencies – they're just for testing!
    </p>
    <p>
      Go ahead and click the button below to try it out:
    </p>
    <p [ngStyle]="{ textAlign: 'center', marginTop: '2.5em' }">
      <button type="button" (click)="login()">Sign in</button>
    </p>
  </main>
</ng-template>
