name: Test Contract TS
on: push
env:
  NODE_ENV: 'ci'
jobs:
  tests:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        node-version: [18, 20, 22]
        template: [guest-book, auction]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install modules
      run: npm install
    - name: Create Contract TS - ${{ matrix.template }}
      run: npm run start -- test-app --frontend none --contract ts --template ${{ matrix.template }}
    - name: Run tests
      run: cd test-app && npm install && npm run test
