name: Test Contract TS
on: push
jobs:
  tests:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        node-version: [18, 20, 22, 24]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ node-version }}
    - name: Install modules
      run: npm install
    - name: Create Contract TS
      run: npm run start -- hello-near --frontend none --contract ts
    - name: Run tests
      run: cd hello-near && npm install && npm run test

