name: Test Frontend
on: push
env:
  NODE_ENV: 'ci'
jobs:
  tests:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        node-version: [18, 20, 22]
        frontend: [next-page, next-app, vite-react]
        template: [guest-book, auction]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install modules
      run: npm install
    - name: Create Frontend - ${{ matrix.frontend }} with ${{ matrix.template }}
      run: npm run start -- test-app --frontend ${{ matrix.frontend }} --contract ts --template ${{ matrix.template }}
    - name: Install
      run: cd test-app && npm install