name: Test Contract RS
on: push
env:
  NODE_ENV: 'ci'
jobs:
  tests:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        template: [guest-book, auction]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Install modules
      run: npm install
    - name: Create Contract RS - ${{ matrix.template }}
      run: npm run start -- test-app --frontend none --contract rs --template ${{ matrix.template }}
    - name: Install cargo-near
      run: curl --proto '=https' --tlsv1.2 -LsSf https://github.com/near/cargo-near/releases/latest/download/cargo-near-installer.sh | sh
    - name: Run tests
      run: cd test-app && cargo test
